@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For react-day-picker */
.rdp-root {
  --rdp-dropdown-gap: 15px !important;
  --rdp-month_caption-font: "Josefin Sans", sans-serif;
  --rdp-day-height: 40px !important;
  --rdp-day-width: 40px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-accent-background-color: theme("colors.accent.600") !important;
  --rdp-range_middle-background-color: theme("colors.accent.400") !important;
  margin: 0 !important;
}

.rdp-month_caption {
  font-size: 1.25rem;
}

/* Hover effect for the day cells */
.rdp-day:hover {
  background-color: theme("colors.accent.500") !important;
  color: theme("colors.primary.900") !important;
  border-radius: 50%;
}
.rdp-day.rdp-selected:hover {
  background-color: theme("colors.accent.400") !important;
  color: theme("colors.primary.900") !important;
}
.rdp-day.rdp-range_middle.rdp-selected:hover {
  /* background-color: theme("colors.accent.400") !important;
  color: theme("colors.primary.900") !important; */
  border-radius: 0%;
}
.rdp-day.rdp-range_start.rdp-selected {
  border-radius: 50% 0 0 50%;
}
.rdp-day.rdp-range_end.rdp-selected {
  border-radius: 0 50% 50% 0;
}
